.content{
	width: 100%;
}
.content .nav-wrapper{
	background-color: #1C2B36;
	border-bottom: 2px solid #eee;
}
.content .nav, .content .tool-bar{
	float: left;
}
.content .nav .item{
	float: left;
	/*width: 100px;*/
	padding: 4px 8px;
	font-size: 14px;
	font-weight: lighter;
	border-right: 1px solid #eee;
	color: #fff;
	cursor: pointer;
	background-color: #1484c5;
}
.content .tool-bar{
	float: right;
	height: 14px;
	margin: 2px 100px 0 0;
}
.content .tool-bar .group{
	float: left;
	border: 1px solid #4f5458;
	border-radius: 6px;
	margin-left: 10px;
	background-color: #4f5458;
}
.content .tool-bar .item{
	float: left;
	color: #fff;

}
.content .tool-bar .item i{
	padding: 2px 4px;
	
}
.content .tool-bar .item:hover{
	color: #647786;
}



.container-wrapper{
	position: relative;
	
}
.container-wrapper .tree-wrapper{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #f7f7f7;
	border: 1px solid #d7d7d7;
	width: 220px;
	z-index: 100;
}
.container-wrapper .tree-wrapper .title{
	width: 220px;
	font-size: 14px;
	color: #555;
	border-bottom: 1px solid #d7d7d7;
	

}
.container-wrapper .tree-wrapper .title h4{
	display: inline-block;
	width: 190px;
	padding-left: 10px;
	
}
.container-wrapper .tree-wrapper .title i{
	cursor: pointer;
}


.panel-body{
	background-color: #f7f7f7;
	border-color: #ddd;
}
.container-wrapper .treegrid-wrapper{
	width: 100%;
	display: none;

}
.container-wrapper .treegrid-wrapper .title{
	width: 100%;
	font-size: 14px;
}
.container-wrapper .treegrid-wrapper .title h4{
	display: inline-block;
	padding-left: 10px;
	color: #555;
	font-size: 16px;
	font-size: 14px;

	
}
.container-wrapper .treegrid-wrapper .title i{
	width: 18px;
	padding-top: 2px;
	float: right;
	cursor: pointer;
}















